<div class="extended-menu-wrapper ">
 <div class="container p-0">
    <div class="row">
        <div class="col-md-12">
           <div class="extended-menu">
            <ul class="d-flex justify-content-between flex-wrap m-0 p-0">
               {% for item in section.settings.home-extended-menu.links %}
                <li><a href="{{item.url}}">{{item.title}}</a></li>
               {% endfor %}
                

            </ul>
          </div>
        </div>
    </div>
 </div>
</div>



<style>
 .extended-menu  ul.d-flex.justify-content-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .extended-menu ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 10px;
    font-size:16px;
}
@media only screen and (max-width: 600px) {
  .extended-menu ul li {

    font-size:1.6rem;
}
}
.extended-menu ul li a{
  text-decoration:none;
  color:#000;
  font-weight:bold;
}
.extended-menu ul li a:hover{
  text-decoration:none;
  color:#0172CF;
}
</style>
{% schema %}
    {
        "name": "Extended Menu",
        "class": "Featured",
        "settings": [
  {
    "type": "link_list",
    "id": "home-extended-menu",
    "label": "Select your menu"
  }
    
        ],
        "presets": [
            {
              "name": "Extended Menu"
            }
            ]
    }
{% endschema %}
