<section class="collection-wrapper">
  <div class="container">
    <div class="row">
     <div class="col-12 text-center">
      <div class="collection-title">
      
        <h2>{{ section.settings.h2}}</h2>
      </div>
    </div>
    </div>

    <div class="row">
{%  for block in section.blocks  %}
  
  
{℅ if  block.type ="collectiontwo" ℅}

      <div class="col-md-6 padding-extra">
    <div class="singel-collection-content">
     <img src="{{block.settings.img | img_url:''}}" alt=""> 
     <h4>{{block.settings.title}}</h4>
   </div>
  </div>
   
      {℅ endif ℅}




  
{℅ if  block.type ="collectiontwo" ℅}
   
      {℅ endif ℅}



      
  
      
{% endfor %}


    </div>


  </div>
</section>




<style>
  .collection-wrapper  img {
    width: 100%;
}
.collection-wrapper{

}
.collection-title h2{

    font-size: calc(var(--font-heading-scale) * 2.4rem);

  margin:20px 0;
 




    color: #000;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}
.padding-extra {
  padding: 7px 7px;
}

.singel-collection-content h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: bold;
  transform: translate(-50%, -50%);
  font-size: 25px;
}
</style>
{% schema %}
    {
        "name": "Home Collection",
        "class": "collection-home",
        "settings": [
          {
            "type": "text",
            "id": "h2",
            "label": "Section title",
            "default": "categories",
            "info": "categories",
            "placeholder": "categories"
          }
        ],
        "blocks": [
          {
            "type": "collectiontwo",
            "name": "collection",
            "settings": [
              {
                "type": "image_picker",
                "id": "img",
                "label": "Collection Image"
              },
                  {
                    "type": "text",
                    "id": "title",
                    "label": "Collection title",
                    "default": "WINTER 2022",
              
                    "placeholder":  "WINTER 2022"
                  }
            ]
          },{
            "type": "collectionfour",
            "name": "collection 4",
            "settings": [
              {
                "type": "image_picker",
                "id": "img",
                "label": "Collection Image"
              },
                  {
                    "type": "text",
                    "id": "title",
                    "label": "Collection title",
                    "default": "WINTER 2022",
              
                    "placeholder":  "WINTER 2022"
                  }
            ]}

  
        ],
        
        "presets": [
            {
              "name": "Home Collection"
            }
            ]
    }
{% endschema %}
